
    &.e-central-ajuda{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 300vw;
        right: 0;
        bottom: 0;
        background: #FFF;
        z-index: 99999999;
        overflow: scroll;
        transition: .3s;
        
        &.is-active{
            left: 0;
            transition: .3s;
        }