
import iconFilter from '../../assets/img/filter.svg';

background-image: url(${iconFilter});
background-position: left top;
background-size: 18% auto;
background-repeat: no-repeat;
background-position: 10px 19px;

/*------------------------------------------------------------------------------*/
background-color (define a cor do fundo);
background-image (define uma imagem de fundo);
background-repeat (define a maneira como a imagem de fundo é posicionada);
background-attachment (define se a imagem de fundo "rola" ou não com a tela);
background-position (define como e onde a imagem de fundo é posicionada);
background-clip (define a área do box onde a imagem de fundo é aplicada);
background-origin (define a posição de origem da imagem no box);
background-size (define as dimensões da imagem no box);
background (maneira abreviada para declarar todas as propriedades anteriores).

/* */
