* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	background: linear-gradient(45deg, #3949AB, #1E88E5);
}

body .container {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0;
	box-shadow: 0 0 100px RGBa(0, 0, 0, 0.5);
	border-radius: 3px;
	overflow: hidden;
}

body .container input {
	display: none;
}

body .container input:checked+label {
	background: #eee;
}

body .container input#tab1:checked~.line {
	left: 0%;
}

body .container input#tab1:checked~.content-container #c1 {
	opacity: 1;
}

body .container input#tab2:checked~.line {
	left: 25%;
}

body .container input#tab2:checked~.content-container #c2 {
	opacity: 1;
}

body .container input#tab3:checked~.line {
	left: 50%;
}

body .container input#tab3:checked~.content-container #c3 {
	opacity: 1;
}

body .container input#tab4:checked~.line {
	left: 75%;
}

body .container input#tab4:checked~.content-container #c4 {
	opacity: 1;
}

body .container label {
	display: inline-block;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	width: 25%;
	text-align: center;
	background: #f4f4f4;
	color: #555;
	position: relative;
	transition: 0.25s background ease;
	cursor: pointer;
}

body .container label::after {
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	display: block;
	background: #ccc;
	bottom: 0;
	opacity: 0;
	left: 0;
	transition: 0.25s ease;
}

body .container label:hover::after {
	opacity: 1;
}

body .container .line {
	position: absolute;
	height: 2px;
	background: #1E88E5;
	width: 25%;
	top: 34px;
	left: 0;
	transition: 0.25s ease;
}

body .container .content-container {
	background: #eee;
	position: relative;
	height: 100px;
	font-size: 16px;
}

body .container .content-container .content {
	position: absolute;
	padding: 10px;
	width: 100%;
	top: 0;
	opacity: 0;
	transition: 0.25s ease;
	color: #333;
}

body .container .content-container .content h3 {
	font-weight: 200;
	margin: 10px 0;
}

body .container .content-container .content p {
	margin: 10px 0;
}

body .container .content-container .content p,
body .container .content-container .content i {
	font-size: 13px;
}


/*Usando SASS*/
/*
		* {
			box-sizing: border-box;
		}
	
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
		}
	
		body {
			font-family: sans-serif;
			background: linear-gradient(45deg, #3949AB, #1E88E5);
	
			.container {
				width: 400px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 0;
				box-shadow: 0 0 100px RGBa(0, 0, 0, 0.5);
				border-radius: 3px;
				overflow: hidden;
	
				input {
					display: none;
	
					&:checked+label {
						background: #eee;
					}
	
					@for $i from 1 through 4 {
						&#tab#{$i}:checked {
							~.line {
								left: #{($i - 1) * 25%};
							}
	
							~.content-container #c#{$i} {
								opacity: 1;
							}
						}
					}
				}
	
				label {
					display: inline-block;
					font-size: 16px;
					height: 36px;
					line-height: 36px;
					width: 25%;
					text-align: center;
					background: #f4f4f4;
					color: #555;
					position: relative;
					transition: 0.25s background ease;
					cursor: pointer;
	
					&::after {
						content: "";
						height: 2px;
						width: 100%;
						position: absolute;
						display: block;
						background: #ccc;
						bottom: 0;
						opacity: 0;
						left: 0;
						transition: 0.25s ease;
					}
	
					&:hover::after {
						opacity: 1;
					}
				}
	
				.line {
					position: absolute;
					height: 2px;
					background: #1E88E5;
					width: 25%;
					top: 34px;
					left: 0;
					transition: 0.25s ease;
				}
	
				.content-container {
					background: #eee;
					position: relative;
					height: 100px;
					font-size: 16px;
	
					.content {
						position: absolute;
						padding: 10px;
						width: 100%;
						top: 0;
						opacity: 0;
						transition: 0.25s ease;
						color: #333;
	
						h3 {
							font-weight: 200;
							margin: 10px 0;
						}
	
						p {
							margin: 10px 0;
						}
	
						p,
						i {
							font-size: 13px;
						}
					}
				}
			}
		}
*/